# Cluster version and size
export KUBERNETES_VERSION=v1.34.0
export CONTROL_PLANE_MACHINE_COUNT=3
export WORKER_MACHINE_COUNT=2

# Name of secret with server credentials
export LXC_SECRET_NAME=lxc-secret

# Talos version (tested v1.12)
export TALOS_VERSION=v1.12

# Talos image (tested talos/nocloud/v1.12.2/amd64)
export TALOS_IMAGE_NAME=talos-v1.12.2           # alias of imported Talos nocloud image
export TALOS_IMAGE_SECURE_BOOT=false            # 'true' or 'false' based on nocloud image

# Load balancer configuration
export LXC_LOAD_BALANCER_TYPE=lxc               # must be 'lxc' or 'oci'
export LOAD_BALANCER_MACHINE_PROFILES=[default] # profiles for the haproxy container
export LOAD_BALANCER_MACHINE_FLAVOR=c1-m1       # instance type for the haproxy container

# Control plane machine configuration
export CONTROL_PLANE_MACHINE_FLAVOR=c2-m4       # flavor for control plane nodes
export CONTROL_PLANE_MACHINE_PROFILES=[default] # profiles for control plane nodes

# Worker machine configuration
export WORKER_MACHINE_FLAVOR=c2-m4              # flavor for worker nodes
export WORKER_MACHINE_PROFILES=[default]        # profiles for worker nodes
