set -u

#######################################################
## Kubernetes cluster configuration

export KUBERNETES_VERSION=v1.32.0
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=1

#######################################################
## LXC server configuration

# Name of secret with credentials for Incus or LXD server
export LXC_SECRET_NAME=incus-cluster

#######################################################
## LXC network load balancer configuration

# Must be set to "network" for OVN
export LXC_LOAD_BALANCER_TYPE=network

## Address for the network load balancer. This must be a free IP address on the uplink network.
export LXC_LOAD_BALANCER_ADDRESS=10.100.42.1

## Name of OVN network where the network load balancer will be created.
## Make sure to adjust LXC_MACHINE_PROFILES below for instances to use the same network.
export LXC_LOAD_BALANCER_NETWORK=default

#######################################################
## LXC instance configuration

## option A. virtual machines (requires kvm)
#export LXC_MACHINE_TYPE="virtual-machine"
#export LXC_MACHINE_PROFILES="default"
#export LXC_MACHINE_FLAVOR="c2-m4"

# option B. lxc containers (requires kubeadm profile, added automatically by the controller)
export LXC_MACHINE_TYPE="container"
export LXC_MACHINE_PROFILES="default"
export LXC_MACHINE_FLAVOR="c2-m4"

#######################################################
## Control plane and workers configuration

# Control plane machine configuration
export CONTROL_PLANE_MACHINE_TYPE="${LXC_MACHINE_TYPE}"
export CONTROL_PLANE_MACHINE_PROFILES="${LXC_MACHINE_PROFILES}"
export CONTROL_PLANE_MACHINE_FLAVOR="${LXC_MACHINE_FLAVOR}"

# Worker machine configuration
export WORKER_MACHINE_TYPE="${LXC_MACHINE_TYPE}"
export WORKER_MACHINE_PROFILES="${LXC_MACHINE_PROFILES}"
export WORKER_MACHINE_FLAVOR="${LXC_MACHINE_FLAVOR}"
